{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}">Accueil</a>
    <a href="{{ path('garde') }}">Ajouter Garde</a>
    <a href="{{ path('docteur') }}">Ajouter Docteur</a>
    <a href="{{ path('liste') }}">liste</a>
{% endblock %}
